<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.azarnush.ptmalborz">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App.AppController"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".WebLogActivity"></activity>
        <activity android:name=".Rules_webeskanActivity" />
        <activity android:name=".VotesActivity" />
        <activity android:name=".Question_and_answerActivity" />
        <activity android:name=".All_lawsActivity" />
        <activity android:name=".RegulationsActivity" />
        <activity android:name=".LawContent2Activity" />
        <activity android:name=".Law_of_PossessionActivity" />
        <activity
            android:name=".SplashActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LawInfoActivity"
            android:label="لیست مطالب "
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".User_registrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Logonـtypeـselection"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Get_number"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login_with_number"
            android:noHistory="true"
            android:screenOrientation="portrait" />
    </application>

</manifest>